<html>
<body>
<h2> Annual Conference 2015</h2>
<img src="/assets/Fortis1.jpg" style="width:100%;height:200px">
<p>
The Annual Conference 2015 was held on June 20,2015 at Fortis Healthcare,Shalimar Bagh. The Conference was attended by many senior cardiologists. The conference was focussed on Heart problems due to rise in pollution. 
</p> 
</body>
</html>