<html>
<head>
<style>
ul#menu {
    padding: 15;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 15px 60px;
    text-decoration: none;
    border-radius: 8px 8px 0 0;

}

ul#menu li a:hover {
    background-color: orange;
}
</style>
</head>
<body>
<div>
<img src="/assets/hosp.jpg" style="width:100%;height:328px">

</div>
<div >
<ul id="menu">
  <li><a href="/hosp">Home</a></li>
  <li><a href="/css/default.asp">Appointments</a></li>
  <li><a href="/js/default.asp">Facilities</a></li>
  <li><a href="/js/default.asp">Doctors</a></li>
  <li><a href="/js/default.asp">Gallery</a></li>
  <li><a href="/js/default.asp">Feedback</a></li>
  <li><a href="/php/default.asp">Carrers</a></li>
  <li><a href="/php/default.asp">Contact Us</a></li>
</ul>  
</div>
<br>
<div>
<iframe src="/home1" width="25%" height=500>
</iframe>

<iframe src="/about" width="45%" height=500>
</iframe>
</div>


</body>
</html>