<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table {
    border-spacing: 5px;
}
</style>
</head>
<form action="create_patient" method="post">
<table border="1" border-collapse="true">
<tr>
<td>Name:</td>
<td> <input type="text" name="pname"></td>
</tr>
<tr>
<td>Gender: </td>
<td> <input type="radio" name="gender" value="male" checked>Male</t>
        <input type="radio" name="gender" value="female">Female
</td>
</tr>
<tr>
<td>Age:</td> 
<td><select name="age">
       <% @range.each do |r|%>
        <option value=<%= r%>> <%= r %></option>
       <% end %>
     </select>
</td>
</tr>
     
<tr>
<td>Address:</td>
<td> <textarea rows="3" cols="30" name="address" ></textarea></td>
</tr>
<tr>
<td>Email :</td>
<td> <input type="email" name="email" ></td>
</tr>
<tr>
<td>Phone No.:</td>
<td> <input type="tel" name="tel" ></td>
</tr>
<tr><td colspan="2"><input type="checkbox" value="terms">I accept Terms and Conditions</td></tr>
<tr><td colspan="2">
<input type="submit" value="Submit" >
</td>
</tr>
</table>
</form>


<!--%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="/javascripts/age.js" type="text/javascript" charset="utf-8" async defer></script>
<option value=""></option>