Good Morning!!!!<br />
<html>
<head>
<title>Page Title</title>
<style>
body {background-color:lightgrey}
h1   {color:blue
      font-family:verdana;
     font-size:300%;
     }

p {
    border:1px solid grey;
    padding:10px;
    margin:30px;
}}
</style>
<a href="/table">check this out</a>
<link rel="stylesheet" href="styles.css">
</head>
<body style="background-color:lightgrey">
<a href="http://www.w3schools.com">This is a link</a>
<a href="http://www.w3schools.com/" target="_self">Visit W3Schools!</a>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<img src="html5.gif" alt="HTML5 Icon" style="width:128px;height:128px;">
<img src="http://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
<!--img src="/home/bsuser1/trainee/rubyprac/hospimanage/logo11w.png"  width="104" height="142">
<p title="John 'ShotGun' Nelson">
W3Schools is a web developer's site.
<em>It provides tutorials and references covering</em>
<em>many aspects of web programming,</em>
including HTML, CSS, JavaScript, XML, SQL, PHP, ASP, etc.
</p>
<h1>This is a heading</h1>
<h2>This is a heading</h2>
<h3><mark>This is a heading</mark></h3>
<p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>
<p>My favorite <ins>color</ins> is red.</p>
<p>The <abbr title="World Health Organization">WHO</abbr> was founded in 1948.</p>
<p><cite>The Scream</cite> by Edward Munch. Painted in 1893.</p>
<bdo dir="rtl">This text will be written from right to left</bdo>
<p>To open a file, select:</p>

<p><kbd>File | Open...</kbd></p>
<samp>
demo.example.com login: Apr 12 09:10:17
Linux 2.6.10-grsec+gg3+e+fhs6b+nfs+gr0501+++p3+c4a+gr2b-reslog-v6.189
</samp>
<code>
var person = { firstName:"John", lastName:"Doe", age:50, eyeColor:"blue" }
</code>
<p>Einstein wrote:</p>-->
<h1 style="color:blue">This is a Blue Heading</h1>
<p><var>E = m c<sup>2</sup></var></p>
<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>